<!DOCTYPE HTML>
<html>
  <head>
    <% include partials/dependencies %>
  </head>
  <body>
    <% include partials/navbar %>

    <div id="content-wrapper">
      <div id="content" class="container">

        <div class="row">
          <div class="col-xs-6 col-centered">
            <section>
              <h3>Error</h3>
            </section>
          </div>
        </div>
       
      </div>
    </div>

  </body>
</html>
