<!DOCTYPE HTML>
<html>

  <head>
    <% include ../partials/dependencies %>
    <script src="/js/common/create.js"></script>
  </head>

  <body>
    <% include ../partials/navbar %>

    <div id="content-wrapper">
      <div id="content" class="container">

        <div class="row">
          <div class="col-xs-6 col-centered">
            <section>
              <h3>Create Job</h3>

              <p />

              <form id="create-form" method="post" action="/projects/<%- project_id %>/jobs">

                <div class="form-group" id="user">
                  <h5>User/Org</h5>
                  <h5 class="err-msg" id="user-error"></h5>
                  <input name="user" class="form-control">
                </div>

                <div class="form-group" id="name">
                  <h5>Repo</h5>
                  <h5 class="err-msg" id="repo-error"></h5>
                  <input name="repo" class="form-control">
                </div>

                <div class="form-group" id="path">
                  <h5>Path</h5>
                  <h5 class="err-msg" id="path-error"></h5>
                  <input name="path" class="form-control">
                </div>

                <div class="form-group" id="ref">
                  <h5>Commit/Branch/Tag</h5>
                  <h5 class="err-msg" id="ref-error"></h5>
                  <input name="ref" class="form-control">
                </div>

                <p />

                <div><input type="submit" class="button primary-button" value="Create Job" /></div>

              </form>
            </section>
          </div>
        </div>
       
      </div>
    </div>

  </body>

</html>
